<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport"  content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    {# <meta property="og:image" content="{% buildUrl %}/assets/workspace.jpg"> #}

    <meta name="twitter:title" content="{{ title }} ">
    <meta name="twitter:description" content="{{ description }}">
    {# <meta name="twitter:image" content=" {% buildUrl %}/assets/Workspace.jpg"> #}
    <meta name="twitter:card" content="summary_large_image">
    
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <main class="container">
      {{ content | safe }} 
    </main>
  </body>
</html>