---
layout: layouts/base.njk
---
<div class="info">
  <h1>{{ title }}</h1>
  {# <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tortor eu ex viverra condimentum sed vitae augue. Suspendisse eros lacus, sollicitudin ut cursus eu, dictum ut nibh. Vivamus ac nisl ut nisi aliquam venenatis. Maecenas eu nisl convallis, porta ipsum et, porttitor diam.
  </p> #}
</div>
<div class="markdown">
  {{ content | safe }} 
</div>