---
layout: layouts/base.njk
---

<header class="info">
  <h1>{{ title }}</h1>

  <p>
    {{ description }}
  </p>
    
  <div class="people">
    <h3>People</h3>
    
    <ul>
      {% for person in people | secondNameSort %}
        <li>
          <a href="{{ person.link }}">{{ person.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div class="tools">
    <h3>Tools</h3>
    
    <ul>
      {% for tool in tools %}
        <li>
          <a href="{{ tool.link }}">{{ tool.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</header>


<article class="weeks">
  <div class="markdown">
    {{ content | safe }} 
  </div>
</article>