html {
  font-family: var(--sans);
  line-height: 1.375rem;
  font-size: 16px;
  --sans: Helvetica, sans-serif;
  --serif: "Wremena", "Times New Roman", Times, serif;
  letter-spacing: .03em;
  color: white;
  background-color: #1531b9;
}

body {
  margin: 0;
  padding: 1rem;
}

a:link,
a:visited {
  display: inline-block;
  color: inherit;
}

a:hover {
  font-family: var(--sans);
  text-decoration: none;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: normal;
  font-family: var(--sans);
}

h1 {
  margin: 0 0 0.8rem;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
}

li > * {
  max-width: 34em;
  overflow-x: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

p {
  margin: 0 0 0.5rem 0;
}

.info {
  max-width: 26em;
  width: 100%;
  margin-bottom: 2rem;
}

.markdown {
  column-count: 1;
  column-gap: 3rem; */
}

.markdown strong {
  font-family: var(--serif);
  font-weight: normal;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.markdown > * {
  margin: 0 0 0.5rem 0;
}

.markdown > h2 {
  margin-left: 3.25rem;
}

.markdown > h2:not(:first-child) {
  margin-top: 2.5rem;
}

@media screen and (min-width: 750px) {
  body {
    padding: 1.25rem 2rem;
  }
}


@media screen and (min-width: 980px) {
  .markdown {
    column-count: 2;
  }
}